body {
    margin: 0;
    font-size: 20px;
    font-family: "Space Mono", monospace;
}

a {
    text-decoration: none;
    color: inherit;
}
#navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #222222;
    color: white;
}
#list {
    margin: auto 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-link {
    font-size: 1.25em;
    padding-right: 25px;
    list-style: none;
}
#welcome-section {
    height: 100vh;
    background: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
}
#welcome-section header {
    padding-left: 15px;
    padding-right: 15px;
}
#title{
    color: white;
    font-size: 3em;
    margin-bottom: 10px;
}
#motto {
    color: lightgray;
    font-size: 2em;
    margin-top: 0px;
}
#projects {
    padding: 25px;
    background-color: #555555;
    color: white;
}
#projects-title, #about-me-title {
    text-align: center;
}
#projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project-tile {
    display: block;
    background-color: lightgreen;
    border: 2px solid black;
    margin: 10px;
    width: 300px;
    height: 300px;
}
#about {
    background-color: #444444;
    color: white;
    padding: 20px;
}

#about-header {
    display: flex;
    justify-content: center;
}
#about-me-title {
    font-size: 2em;
    padding: 10px 25px;
    border-bottom: 2px solid black;
}
#about-me-text {
    padding: 0 30px;
    text-align: justify;
}
/*#profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: green;
}*/
#tech-stack {
    
    margin: 40px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tech-flex {
    border: 4px solid black;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#tech-title {
    margin: 15px;
    text-align: center;
}
.tech {
    width: 33%;
    max-width: 150px;
}
img {
    width: 100%;
}
h3 {
    font-size: 1.5em;
}
.social-media {
    font-size: 3em;
}
#contact {
    color: white;
    background-color: #777777;
    padding: 25px;
}
#contact-container {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#contact h2, p, #email {
    text-align: center;
    margin: 5px 0;
}
#contact h2 {
    font-size: 2em;
}
#contact p {
    font-size: 1.5em;
    font-style: italic;
}
#email {
    display: block;
    margin: 35px auto 25px auto;
    text-decoration: none;
    font-size: 1.25em;
}
@media (max-width: 600px) {
    body {
        font-size: 18px;
    }
    #contact-container {
        width: 100%;
    }
    #list {
        justify-content: space-between;
        
    }
    .nav-link {
        font-size: 1em;
    }
}